{% load socialaccount %}
{% providers_media_js %}
<div class="text-center">
    <div class="mb-2">
        <a href="{% provider_login_url "facebook" %}" class="link_btn">
            <button class="btn form-control py-5">
                <p class="mx-auto">
                    <i class="bi bi-facebook fs-3 me-3" style="color: rgb(24, 119, 242);"></i>
                    Продолжить через Facebook
                </p>
            </button>
        </a>
    </div>
    <div class="my-2">
        <a href="{% provider_login_url "apple" %}" class="link_btn">
            <button class="btn form-control py-5">
                <p class="mx-auto">
                    <i class="fa-brands fa-apple fs-3 me-3" style="color: gray;"></i>
                    Продолжить через Apple
                </p>
            </button>
        </a>
    </div>
    <div class="my-2">
        <a href="{% provider_login_url "google" %}" class="link_btn">
            <button class="btn form-control py-5">
                <p class="mx-auto">
                    <i class="bi bi-google fs-3 me-3"></i>
                    Продолжить через Google
                </p>
            </button>
        </a>
    </div>
</div>



